@page "/Reservation"

<h3>Reservation</h3>

<div>@booking.Mail, @booking.Date, @booking.NumberOfPersons, @booking.Timeslot, @booking.DrinkName, @booking.Dish</div>

<EditForm Model="@booking" OnValidSubmit="FirstValidation">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Email:
        <InputText @bind-Value="booking.Mail" />
    </label>
    <label>
        Date:
        <InputDate @bind-Value="booking.Date" />
    </label>

    <label>
        Number of People:
        <InputNumber @bind-Value="booking.NumberOfPersons" />
    </label>
    <div class="row content">
        <button type="submit">Submit</button>
    </div>
</EditForm>
@if (FirstValidated)
{
    <EditForm Model="@booking">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label>
            Time Interval:
            <InputSelect @bind-Value="timeslot">
                <option value="">Select Time</option>
                @if (availableSeats[0] >= booking.NumberOfPersons)
                    {
                    <option value="0">16-18</option>
                    }
                @if (availableSeats[1] >= booking.NumberOfPersons)
                    {
                    <option value="1">18-20</option>
                    }
                @if (availableSeats[2] >= booking.NumberOfPersons)
                    {
                    <option value="2">20-22</option>
                    }
            </InputSelect>
        </label>
        <label>
            Drink:
            <select @bind="booking.DrinkName">
                @if (availableDrinks != null)
                {
                    @foreach (var cnt in availableDrinks)
                    {
                        <option value="@cnt">@cnt</option>
                    }
                }
            </select>
            <div>
                @if (page > 1)
                {
                    <button class="btn btn-primary" @onclick="PrevPage">previous page</button>
                }
                @if (drinks.GetDrinks(page + 1).Count > 0)
                {
                    <button class="btn btn-primary" @onclick="NextPage">next page</button>
                }
                </div>
        </label>
        <label>
            Dish: @randomDish.dish 
            <div>
                <button class="btn btn-primary" @onclick="GetDish">call dish</button>
                <button class="btn btn-primary" @onclick="SetDish" >Order dish</button>
            </div>
        </label>

    </EditForm>
}
@if (AllSet())
{
    <div>
    
    </div>
    <div>
        <button class="btn btn-primary" @onclick="SaveReservation">Make Reservation</button>
    </div>
}
<div>
    <button class="btn btn-primary" @onclick="GetDrinks">call drinks</button>
</div>

@code{
    private RandomDish randomDish = new RandomDish();
    private Drinks drinks = new Drinks();
    private int page = 1;
    private List<string> availableDrinks;

    public void GetDish()
    {
        randomDish.GetDish();
    }

    public void SetDish()
    {
        booking.Dish = randomDish.dish;
    }

    public void GetDrinks()
    {
        availableDrinks = drinks.GetDrinks(page);
    }

    public void PrevPage()
    {
        page--;
        GetDrinks();
    }

    public void NextPage()
    {
        page++;
        GetDrinks();
    }
}

@code {
    public bool FirstValidated = false;
    private int timeslotReal;
    private int timeslot
    {
        get
        {
            return timeslotReal;
        }
        set
        {
            timeslotReal = value;
            booking.Timeslot = timeslotReal;
            booking.TimeslotSelected();
        }
    }


    public bool AllSet()
    {
        bool set = booking.Timeslot.HasValue && !String.IsNullOrEmpty(booking.DrinkName) && !String.IsNullOrEmpty(booking.Dish);
        return set;
    }

    private Booking booking = new Booking();

    public int[] availableSeats = new int[3];

    private void FirstValidation()
    {
        FirstValidated = true;
        availableSeats = booking.GetAvailableSeats();
        availableDrinks = drinks.GetDrinks(page);
    }

    public void SaveReservation()
    {
        booking.SaveBooking();
        booking.Timeslot = null;
        GetAvailableSeats();
    }

    public void GetAvailableSeats()
    {
        availableSeats = booking.GetAvailableSeats();
    }

    public void SelectTimeslot()
    {
        booking.TimeslotSelected();
    }


}
